<!DOCTYPE html>
<html lang="en" ng-app="JSSettlers">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/index.css">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"-->
    <meta name="viewport" content="initial-scale=1" />

    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-material.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="app/app.js"></script>

    <title>JS-Settlers</title>
</head>
    <div layout="column" layout-fill>
        <md-toolbar layout="row" layout-align="end center" class="md-primary">
            <label layout-padding>Login</label>
        </md-toolbar>
        <textarea placeholder="Enter your code here" flex layout-margin></textarea>
        <md-divider class="md-primary" ng-if="!$last"></md-divider>
        <div layout="row" layout-align="center center" layout-padding>
            <md-button class="md-primary" ng-click="" ng-disabled="false" flex> Submit </md-button>
            <md-progress-circular class="md-primary" md-mode="indeterminate" layout-align="end center"></md-progress-circular>
        </div>
    </div>
    <div hidden>
        <div><input type="text" placeholder="Login" /></div>
        <div><input type="text" placeholder="Password" /></div>
        <div><input type="button" value="Login" /></div>
    </div>
</html>